In [1]:
# Dependencies
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
# List of file names to be combined 
files23 = ['data/202301.csv','data/202304.csv', 'data/202307.csv']

# Create an empty list to store each dataframe
df23_list = []

# Loop through each file in the list
for file in files23:
    # Read the file into a dataframe
    df23 = pd.read_csv(file)

    # Append the dataframe to the list
    df23_list.append(df23)

# Concatenate all dataframes in the list into one dataframe
df23 = pd.concat(df23_list)

# Show dataframe
df23

C:\Users\nikit\AppData\Local\Temp\ipykernel_9732\3971567895.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df23 = pd.read_csv(file)
C:\Users\nikit\AppData\Local\Temp\ipykernel_9732\3971567895.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df23 = pd.read_csv(file)
C:\Users\nikit\AppData\Local\Temp\ipykernel_9732\3971567895.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df23 = pd.read_csv(file)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3776251,8EB48FBE46A673DF,classic_bike,2023-07-28 19:11:45,2023-07-28 19:38:24,S 4 St & Rodney St,5156.05,Irving Ave & Halsey St,4695.04,40.709340,-73.956080,40.694670,-73.906630,member
3776252,8B66692B4C236E00,classic_bike,2023-07-11 20:09:42,2023-07-11 20:38:01,Madison Ave & E 120 St,7667.04,Intervale Ave & Westchester Ave,7948.10,40.803026,-73.942863,40.821967,-73.896752,member
3776253,86E2D896051F1420,classic_bike,2023-07-25 21:05:48,2023-07-25 21:10:15,Windsor Pl & Howard Pl,3579.04,14 St & 5 Ave,3771.06,40.659647,-73.980421,40.666287,-73.988951,member
3776254,556B12591EC0C385,classic_bike,2023-07-15 13:15:14,2023-07-15 13:25:55,DeKalb Ave & Vanderbilt Ave,4461.04,Broadway & Kent Ave,5134.09,40.689412,-73.968847,40.710888,-73.968329,member
3776255,1FE35D1565CF12ED,electric_bike,2023-07-05 09:19:00,2023-07-05 09:21:34,E 117 St & 1 Ave,7579.11,E 116 St & 2 Ave,7563.06,40.796568,-73.934595,40.796879,-73.937261,member

In [4]:
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8485807 entries, 0 to 8485806
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 841.6+ MB

In [5]:
df23[["started_at","ended_at"]] = df23[["started_at","ended_at"]].apply(pd.to_datetime)

In [6]:
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8485807 entries, 0 to 8485806
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 841.6+ MB

In [7]:
df23["trip_time_min"] = df23.ended_at-df23.started_at

In [8]:
df23["trip_time_days"] = (df23.ended_at-df23.started_at).dt.days

In [9]:
df23['time_difference_seconds'] = df23["trip_time_min"].dt.total_seconds()

In [10]:
df23.sort_values(by=["trip_time_min"])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_time_min,trip_time_days,time_difference_seconds
6037816,0307CD5B5C602226,classic_bike,2023-07-23 23:00:00,2023-07-19 19:58:45,NaN,NaN,NaN,NaN,40.730000,-74.000000,40.730000,-74.000000,member,-5 days +20:58:45,-5,-356475.0
8358576,F84A7B3C12ACB231,classic_bike,2023-07-27 17:35:18,2023-07-27 17:31:10,NaN,NaN,6 Ave & W 33 St,6364.07,40.750000,-73.990000,40.749013,-73.988484,member,-1 days +23:55:52,-1,-248.0
4271652,73115DDB4B115BC1,classic_bike,2023-04-17 18:08:37,2023-04-17 18:06:37,31 Ave & Crescent St,6893.1,31 Ave & Crescent St,6893.1,40.765835,-73.926547,40.765835,-73.926547,member,-1 days +23:58:00,-1,-120.0
4388248,4BB4BA36B412FC11,classic_bike,2023-04-16 00:06:56,2023-04-16 00:05:13,Main St & Plymouth St,4936.21,Main St & Plymouth St,4936.21,40.703467,-73.990851,40.703782,-73.990734,member,-1 days +23:58:17,-1,-103.0
2780397,7B4ACCE5F38588B5,classic_bike,2023-04-13 21:26:05,2023-04-13 21:24:42,Bridge St & Water St,4968.03,Bridge St & Water St,4968.03,40.702520,-73.984664,40.702969,-73.984691,casual,-1 days +23:58:37,-1,-83.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6038443,2B9077C246FA13E9,docked_bike,2023-07-06 14:03:48,2023-07-28 01:15:43,Front St & Jay St,4895.03,NaN,NaN,40.702461,-73.986842,NaN,NaN,casual,21 days 11:11:55,21,1854715.0
6041987,3445A80BB470BF57,docked_bike,2023-07-17 16:34:55,2023-08-08 13:21:15,W 100 St & Manhattan Ave,7538.14,NaN,NaN,40.795000,-73.964500,NaN,NaN,casual,21 days 20:46:20,21,1889180.0
2237877,E3CED1658142D61F,docked_bike,2023-04-02 15:57:19,2023-04-25 15:48:43,5 Ave & E 78 St,7161.08,NaN,NaN,40.776321,-73.964274,NaN,NaN,casual,22 days 23:51:24,22,1986684.0
4775101,4225813EAE1588F2,docked_bike,2023-07-04 16:00:56,2023-07-30 01:45:21,Hudson St & Reade St,5359.10,NaN,NaN,40.716250,-74.009106,NaN,NaN,casual,25 days 09:44:25,25,2195065.0
6017087,8B23BB4E5DA06E74,docked_bike,2023-07-05 15:10:01,2023-08-05 01:13:00,Grand St & Greene St,5500.02,NaN,NaN,40.721700,-74.002381,NaN,NaN,casual,30 days 10:02:59,30,2628179.0

In [11]:
df23.isnull().sum()

ride_id                        0
rideable_type                  0
started_at                     0
ended_at                       0
start_station_name          1738
start_station_id            1738
end_station_name           21160
end_station_id             21160
start_lat                      0
start_lng                      0
end_lat                     6434
end_lng                     6434
member_casual                  0
trip_time_min                  0
trip_time_days                 0
time_difference_seconds        0
dtype: int64

In [14]:
df_rmvd_60sec= df23[(df23['time_difference_seconds']> 60)]

In [15]:
df_rmvd_60sec.sort_values(by=['time_difference_seconds'])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_time_min,trip_time_days,time_difference_seconds
3508736,66176470031739D6,classic_bike,2023-04-03 11:52:44,2023-04-03 11:53:45,E 13 St & Avenue A,5779.09,Ave A & E 11 St,5703.13,40.729667,-73.980680,40.728547,-73.981759,member,0 days 00:01:01,0,61.0
1033280,7AB6BF1316EA6374,classic_bike,2023-01-20 08:20:51,2023-01-20 08:21:52,Cooper Square & Astor Pl,5712.03,Cooper Square & Astor Pl,5712.03,40.729515,-73.990753,40.729515,-73.990753,member,0 days 00:01:01,0,61.0
7722413,799DDA1C81558DDA,classic_bike,2023-07-07 15:06:10,2023-07-07 15:07:11,Wythe Ave & N 13 St,5558.04,N 15 St & Wythe Ave,5520.09,40.722805,-73.957175,40.724055,-73.955736,member,0 days 00:01:01,0,61.0
7171476,1104A64184F1D587,classic_bike,2023-07-11 17:41:03,2023-07-11 17:42:04,South St & Gouverneur Ln,4953.04,Old Slip & South St,4993.13,40.703554,-74.006702,40.703367,-74.007868,member,0 days 00:01:01,0,61.0
566083,02024C1D36D99396,classic_bike,2023-01-18 19:17:10,2023-01-18 19:18:11,West End Ave & W 60 St,7059.08,11 Ave & W 59 St,7059.01,40.772370,-73.990050,40.771497,-73.990460,member,0 days 00:01:01,0,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234329,9D572B15AF7EE0C8,docked_bike,2023-01-25 12:54:58,2023-01-31 03:10:01,6 Ave & W 45 St,6593.15,6 Ave & Broome St,5610.09,40.756951,-73.982631,40.724310,-74.004730,casual,5 days 14:15:03,5,483303.0
869465,9F947D7B75793E0D,docked_bike,2023-01-02 16:42:58,2023-01-08 13:22:02,Southpoint Park,6566.01,Roosevelt Island Tramway,6599.01,40.753702,-73.958652,40.757284,-73.953600,casual,5 days 20:39:04,5,506344.0
3579592,ABEDA71246193A9F,docked_bike,2023-04-15 18:34:11,2023-04-22 21:08:11,W 54 St & 9 Ave,6920.03,Washington Square E,5755.09,40.765849,-73.986905,40.730494,-73.995721,casual,7 days 02:34:00,7,614040.0
898987,13F644855866CEF3,docked_bike,2023-01-06 16:37:45,2023-01-15 17:30:23,E 13 St & 2 Ave,5820.08,Driggs Ave & N 9 St,5411.08,40.731539,-73.985302,40.718170,-73.955201,casual,9 days 00:52:38,9,780758.0
1286346,D8971548FDEF8A97,docked_bike,2023-01-01 18:06:40,2023-01-12 12:32:57,South St & Whitehall St,4846.01,St James Pl & Pearl St,5167.06,40.701221,-74.012342,40.711174,-74.000165,casual,10 days 18:26:17,10,930377.0

In [19]:
q1_clean = df_rmvd_60sec['time_difference_seconds'].quantile(0.25)
q3_clean = df_rmvd_60sec['time_difference_seconds'].quantile(0.75)
iqr_clean = q3_clean - q1_clean
lower_bound_clean = q1_clean - 1.5 * iqr_clean
upper_bound_clean = q3_clean + 1.5 * iqr_clean

print("Lower Quartile for the trip time in seconds is: " , q1_clean , "which is", q1_clean/60 , "in minutes")
print("Upper Quartile for the trip time in seconds is: " , q3_clean, "which is", q3_clean/60 , "in minutes")
print("Inter-Quartile Range (IQR) for the trip time in seconds is: " , iqr_clean, "which is", iqr_clean/60,  "in minutes")
print("Lower-bound for the trip time in seconds is: " , lower_bound_clean, "which is", lower_bound_clean/60 , "in minutes")
print("Upper_bound for the trip time in seconds is: " , upper_bound_clean, "which is", upper_bound_clean/60 , "in minutes")

Lower Quartile for the trip time in seconds is:  318.0 which is 5.3 in minutes
Upper Quartile for the trip time in seconds is:  999.0 which is 16.65 in minutes
Inter-Quartile Range (IQR) for the trip time in seconds is:  681.0 which is 11.35 in minutes
Lower-bound for the trip time in seconds is:  -703.5 which is -11.725 in minutes
Upper_bound for the trip time in seconds is:  2020.5 which is 33.675 in minutes

In [20]:
below_count = len(df_rmvd_60sec[df_rmvd_60sec['time_difference_seconds'] < lower_bound_clean])
above_count = len(df_rmvd_60sec[df_rmvd_60sec['time_difference_seconds'] > upper_bound_clean])

print(f"Number of values below 1.5 * IQR: {below_count}")
print(f"Number of values above 1.5 * IQR: {above_count}")

Number of values below 1.5 * IQR: 0
Number of values above 1.5 * IQR: 535572

In [64]:
df_rmvd_60sec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8187910 entries, 0 to 8485806
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   ride_id                  object
 1   rideable_type            object
 2   started_at               datetime64[ns]
 3   ended_at                 datetime64[ns]
 4   start_station_name       object
 5   start_station_id         object
 6   end_station_name         object
 7   end_station_id           object
 8   start_lat                float64
 9   start_lng                float64
 10  end_lat                  float64
 11  end_lng                  float64
 12  member_casual            object
 13  trip_time_min            timedelta64[ns]
 14  trip_time_days           int64
 15  time_difference_seconds  float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(7), timedelta64[ns](1)
memory usage: 1.0+ GB

In [21]:
df_rmvd_60sec['ride_id'].nunique()

8184087

In [22]:
df_rmvd_60sec = df_rmvd_60sec.drop(columns = ["start_station_id", "end_station_id", "trip_time_days"])

In [23]:
df_rmvd_60sec= df_rmvd_60sec.rename(columns={'trip_time_min': "trip_duration"})

In [24]:
df_rmvd_60sec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8184087 entries, 0 to 8485806
Data columns (total 13 columns):
 #   Column                   Dtype
---  ------                   -----
 0   ride_id                  object
 1   rideable_type            object
 2   started_at               datetime64[ns]
 3   ended_at                 datetime64[ns]
 4   start_station_name       object
 5   end_station_name         object
 6   start_lat                float64
 7   start_lng                float64
 8   end_lat                  float64
 9   end_lng                  float64
 10  member_casual            object
 11  trip_duration            timedelta64[ns]
 12  time_difference_seconds  float64
dtypes: datetime64[ns](2), float64(5), object(5), timedelta64[ns](1)
memory usage: 874.2+ MB

In [25]:
df_rmvd_60sec['m'] = df_rmvd_60sec.started_at.dt.month

In [26]:
season_dict = {1: 'Winter',
               2: 'Winter',
               3: 'Spring', 
               4: 'Spring',
               5: 'Spring',
               6: 'Summer',
               7: "Summer"}
df_rmvd_60sec['Season'] = df_rmvd_60sec['m'].apply(lambda x: season_dict[x])

In [28]:
df_rmvd_60sec

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration,time_difference_seconds,m,Season
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,Columbus Ave & W 72 St,40.759724,-73.973664,40.777057,-73.978985,member,0 days 00:11:33,693.0,1,Winter
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,Clinton Ave & Myrtle Ave,40.684970,-73.922755,40.693261,-73.968896,casual,0 days 00:15:15,915.0,1,Winter
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,W 52 St & 11 Ave,40.736566,-74.006092,40.767272,-73.993929,casual,0 days 00:16:41,1001.0,1,Winter
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,W 45 St & 8 Ave,40.759711,-73.974023,40.759291,-73.988597,member,0 days 00:11:01,661.0,1,Winter
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,Central Park S & 6 Ave,40.801694,-73.957145,40.765909,-73.976342,casual,0 days 00:15:01,901.0,1,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8485802,8EB48FBE46A673DF,classic_bike,2023-07-28 19:11:45,2023-07-28 19:38:24,S 4 St & Rodney St,Irving Ave & Halsey St,40.709340,-73.956080,40.694670,-73.906630,member,0 days 00:26:39,1599.0,7,Summer
8485803,8B66692B4C236E00,classic_bike,2023-07-11 20:09:42,2023-07-11 20:38:01,Madison Ave & E 120 St,Intervale Ave & Westchester Ave,40.803026,-73.942863,40.821967,-73.896752,member,0 days 00:28:19,1699.0,7,Summer
8485804,86E2D896051F1420,classic_bike,2023-07-25 21:05:48,2023-07-25 21:10:15,Windsor Pl & Howard Pl,14 St & 5 Ave,40.659647,-73.980421,40.666287,-73.988951,member,0 days 00:04:27,267.0,7,Summer
8485805,556B12591EC0C385,classic_bike,2023-07-15 13:15:14,2023-07-15 13:25:55,DeKalb Ave & Vanderbilt Ave,Broadway & Kent Ave,40.689412,-73.968847,40.710888,-73.968329,member,0 days 00:10:41,641.0,7,Summer
8485806,1FE35D1565CF12ED,electric_bike,2023-07-05 09:19:00,2023-07-05 09:21:34,E 117 St & 1 Ave,E 116 St & 2 Ave,40.796568,-73.934595,40.796879,-73.937261,member,0 days 00:02:34,154.0,7,Summer

In [29]:
df_rmvd_60sec = df_rmvd_60sec.drop(columns = ["time_difference_seconds","m", "trip_duration"])

In [30]:
df_rmvd_60sec

,ride_id,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,Season
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,Columbus Ave & W 72 St,40.759724,-73.973664,40.777057,-73.978985,member,Winter
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,Clinton Ave & Myrtle Ave,40.684970,-73.922755,40.693261,-73.968896,casual,Winter
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,W 52 St & 11 Ave,40.736566,-74.006092,40.767272,-73.993929,casual,Winter
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,W 45 St & 8 Ave,40.759711,-73.974023,40.759291,-73.988597,member,Winter
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,Central Park S & 6 Ave,40.801694,-73.957145,40.765909,-73.976342,casual,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...
8485802,8EB48FBE46A673DF,classic_bike,2023-07-28 19:11:45,2023-07-28 19:38:24,S 4 St & Rodney St,Irving Ave & Halsey St,40.709340,-73.956080,40.694670,-73.906630,member,Summer
8485803,8B66692B4C236E00,classic_bike,2023-07-11 20:09:42,2023-07-11 20:38:01,Madison Ave & E 120 St,Intervale Ave & Westchester Ave,40.803026,-73.942863,40.821967,-73.896752,member,Summer
8485804,86E2D896051F1420,classic_bike,2023-07-25 21:05:48,2023-07-25 21:10:15,Windsor Pl & Howard Pl,14 St & 5 Ave,40.659647,-73.980421,40.666287,-73.988951,member,Summer
8485805,556B12591EC0C385,classic_bike,2023-07-15 13:15:14,2023-07-15 13:25:55,DeKalb Ave & Vanderbilt Ave,Broadway & Kent Ave,40.689412,-73.968847,40.710888,-73.968329,member,Summer
8485806,1FE35D1565CF12ED,electric_bike,2023-07-05 09:19:00,2023-07-05 09:21:34,E 117 St & 1 Ave,E 116 St & 2 Ave,40.796568,-73.934595,40.796879,-73.937261,member,Summer

In [31]:
df_rmvd_60sec.to_csv('data/clean_citibike_2023_jan-apr-jul(2).csv', index=False)